<nav>
  <a href="#top-urls">Top URLs</a> | <a href="#top-refs">Top Referrers</a>
</nav>

<h1>Top URLs</h1>
<table id="top-urls" class="table" ng-controller="TopUrlCtrl">
    <thead>
        <tr>
          <th>#</th>
          <th>URL</th>
          <th>Visits</th>
        </tr>
    </thead>
    <tbody ng-repeat="(day, urls) in topUrls">
        <tr ng-repeat="n in [] | range:urls.length">
          <td>{{$index}}</td>
          <td>{{urls[$index].url}}</td>
          <td>{{urls[$index].visits}}</td>
        </tr>
    </tbody>
</table>

<h1>Top Referrals</h1>
<table id="top-refs" class="table table-striped" ng-controller="RefCtrl">
  <thead>
  <tr>
    <th>#</th>
    <th>URL</th>
    <th>Visits</th>
    <th>Referrers</th>
  </tr>
  </thead>
  <tbody ng-repeat="(day, urls) in topRefs">
  <tr ng-repeat="n in [] | range:urls.length">
    <td>{{$index}}</td>
    <td>{{urls[$index].url}}</td>
    <td>{{urls[$index].visits}}</td>
    <td>
      <ul ng-repeat="obj in urls[$index].referrers">
        <li><strong>URL</strong> {{obj.url}} | <strong>Visits</strong> {{obj.visits}}</li>
      </ul>
  </tr>
  </tbody>
</table>
