{
    <% @num_days.times do  |x| %>
    <% day = @today - x %>

    "<%= day %>":[
        <% 10.times do |o| %>
        <% info = get_urls(o, day) %>
        { "url": "<%= info[:url] %>", "visits": <%= info[:visits] %>,

            "referrers": [
                <% 5.times do |y| %>
                    <% ref_info = get_refs(y, info[:url], day) %>
                { "url": "<%= ref_info[:referrer] %>", "visits": "<%= ref_info[:visits] %>" }<%= if y < 4 then ',' else '' end %>
                <% end %>
            ]
        }<%= if o < 9 then ',' else '' end %>
        <% end %>

    ]<%= if (x + 1) < @num_days then ',' else '' end %>
    <% end %>
}
