{
    <% @num_days.times do  |x| %>
    <% day = @today - x %>

    "<%= day %>":[
        <% num_distinct_urls(day).times do |o| %>
            <% info = get_urls(o, day) %>
        { "url": "<%= info[:url] %>", "visits": <%= info[:visits] %> }<%= if (o + 1) < num_distinct_urls(day) then ',' else '' end %>
        <% end %>

    ]<%= if (x + 1) < @num_days then ',' else '' end %>
    <% end %>
}

