// Place all the styles related to the Datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin-top: 60px;
}

nav {
  position: fixed;
  top: 0;
  width: calc(100% - 60px);
  padding: 10px 30px;
  background: #fff;
}

tbody {
  border-bottom: 5px solid #ccc;
}

table, h1 {
  max-width: 70% !important;
  margin: 40px auto 10px !important;
}
